.question-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  position: relative;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  display: none;
  background-color: rgb(204, 245, 233);
}
